.header-actions ul {
  padding: 0;
  padding-inline-end: 3.875rem;
  padding-inline-start: 3.875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-actions ul li {
  list-style: none;
}

.header-actions ul a {
  font: var(--body1Regular);
  color: var(--white);
  text-decoration: none;
}
