@import './icons.css';
@import './font.css';
@import './button.css';
@import './header.css';
@import './hero.css';
@import './movie.css';
@import './movies-slider.css';
@import './navigation.css';

:root {
  --baseFont: 'Avenir', sans-serif;
  --white: #ffffff;
  --grey: #686868;
  --black: #000000;
  --red: #d22f26;
  --subtitle1: 700 1rem / normal var(--baseFont);
  --headline1: 700 2rem / normal var(--baseFont);
  --button: 600 1rem / normal var(--baseFont);
  --body1SemiBold: 600 1rem/1.5rem var(--baseFont);
  --body1Regular: 400 1rem/1.5rem var(--baseFont);
  --body2SemiBold: 600 1rem / normal var(--baseFont);
  --body2Regular: 400 0.9rem / normal var(--baseFont);
}

body {
  background: var(--black);
  margin: 0;
}
